asgiref==3.11.1
backports-datetime-fromisoformat==2.0.3
dj-database-url==3.0.1
Django==4.2.30
django-phonenumber-field==8.3.0
environs==14.4.0
marshmallow==4.0.1
phonenumbers==9.0.28
python-dotenv==1.2.1
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==1.26.6
